.DS_Store
**/.idea/
.vscode/
dist/

build/
sync/
*.userdb/
installation.yaml
user.yaml
!others/**/*.custom.yaml

custom_phrase_double.txt
custom_phrase.txt
others/script/scel2txt/out/*
others/script/scel2txt/scel/*
cn_dicts/temp.txt

cn_dicts/
en_dicts/
lua/
opencc/
others/
go.work
*.yaml
!*custom.yaml

*private*

rime_console
rime_deployer
rime_patch
